.card {
  background: white;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  padding: 8px 8px 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-sm);
  align-items: center;
  border: none;
}

.card img {
  height: 132px;
  display: block;
  margin: 0 auto;
}

.card:hover {
  box-shadow: var(--shadow-lg);
  transform: scale(1.02);
}

.card-category {
  font-weight: bold;
  font-size: var(--font-size-1);
  border-radius: var(--border-radius-pill);
  padding: 4px 12px;
  display: inline-block;
  width: fit-content;
  margin-right: auto;
}

.card-name {
  font-family: var(--font-family-serif);
  font-weight: bold;
  font-size: var(--font-size-3);
}

.on-the-trail,
.valuables {
  background: var(--color-green-300);
  color: var(--color-green-700);
}

.clothing {
  background: var(--color-red-300);
  color: var(--color-red-700);
}

.cook {
  background: var(--color-yellow-300);
  color: var(--color-yellow-700);
}

.sleep,
.personal-care {
  background: var(--color-blue-300);
  color: var(--color-blue-700);
}

.loading-state {
  size: 100%;
  border-radius: var(--border-radius-md);
  background-color: var(--color-neutral-300);
  animation: loading 2s infinite;
}

@keyframes loading {
  from {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 0.2;
  }
}
