.filters {
  display: flex;
  justify-content: center;
  padding: 0;
}

.filter {
  border-radius: var(--border-radius-pill);
  padding: var(--spacing-xxs) var(--spacing-sm);
  margin: 0 var(--spacing-xxs);
  font-size: var(--font-size-2);
  font-weight: bold;
  display: inline-block;
}

.filters a {
  text-decoration: none;
}

.filters li {
  list-style: none;
}

.mobile-filters-button {
  background-color: var(--color-neutral-700);
  padding: var(--spacing-md);
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-circle);
  border: none;
  margin-top: var(--spacing-md);
}

.mobile-filters-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 2;
}

.mobile-filters {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

.mobile-filters a {
  text-decoration: none;
}

.mobile-filter {
  border-radius: var(--border-radius-pill);
  padding: var(--spacing-xs) var(--spacing-md);
  margin: 0 var(--spacing-xxs);
  font-size: var(--font-size-4);
  font-weight: bold;
  display: inline-block;
  background-color: var(--color-neutral-100);
  box-shadow: var(--shadow-md);
}

.filter-on-the-trail:hover,
.filter-on-the-trail.active,
.filter-valuables:hover,
.filter-valuables.active {
  background: var(--color-green-300);
  color: var(--color-green-700);
  box-shadow: 0 0 0 2px var(--color-green-700);
}

.filter-clothing:hover,
.filter-clothing.active {
  background: var(--color-red-300);
  color: var(--color-red-700);
  box-shadow: 0 0 0 2px var(--color-red-700);
}

.filter-cook:hover,
.filter-cook.active {
  background: var(--color-yellow-300);
  color: var(--color-yellow-700);
  box-shadow: 0 0 0 2px var(--color-yellow-700);
}

.filter-sleep:hover,
.filter-sleep.active,
.filter-personal-care:hover,
.filter-personal-care.active {
  background: var(--color-blue-300);
  color: var(--color-blue-700);
  box-shadow: 0 0 0 2px var(--color-blue-700);
}

.filter-show-all:hover,
.filter-show-all.active {
  background: var(--color-neutral-300);
  color: var(--color-neutral-700);
  box-shadow: 0 0 0 2px var(--color-neutral-700);
}
