.on-the-trail,
.valuables {
	@apply bg-green-300 text-green-700;
}

.clothing {
	@apply bg-red-300 text-red-700;
}

.cook {
	@apply bg-yellow-300 text-yellow-700;
}

.sleep,
.personal-care {
	@apply bg-blue-300 text-blue-700;
}

@keyframes loading {
	from {
		opacity: 0.2;
	}
	50% {
		opacity: 0.3;
	}
	to {
		opacity: 0.2;
	}
}

.filter-on-the-trail:hover,
.filter-on-the-trail.active,
.filter-valuables:hover,
.filter-valuables.active {
	@apply bg-green-300 text-green-700 outline-2 outline-green-700;
}

.filter-clothing:hover,
.filter-clothing.active {
	@apply bg-red-300 text-red-700 outline-2 outline-red-700;
}

.filter-cook:hover,
.filter-cook.active {
	@apply bg-yellow-300 text-yellow-700 outline-2 outline-yellow-700;
}

.filter-sleep:hover,
.filter-sleep.active,
.filter-personal-care:hover,
.filter-personal-care.active {
	@apply bg-blue-300 text-blue-700 outline-2 outline-blue-700;
}

.filter-show-all:hover,
.filter-show-all.active {
	@apply bg-neutral-300 text-neutral-700 outline-2 outline-neutral-700;
}

.overlay {
	@apply fixed top-0 left-0 z-2 flex h-full w-full items-center justify-between;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.5);
}

.next-button:hover,
.previous-button:hover {
	background-color: #403f3c;
	transform: scale(1.05);
}

.modal {
	@apply relative m-auto flex h-[500px] w-[880px] rounded-md bg-neutral-100 px-12 py-8 shadow-[4px_4px_56px] shadow-neutral-700 outline-0;
}

@media screen and (max-width: 720px) {
	.modal {
		@apply block h-screen w-screen overflow-auto rounded-t-4xl;
		padding: var(--spacing-xl) var(--spacing-xl) 56px var(--spacing-xl);
		transform: translateY(40px);
	}

	.modal-left {
		@apply mr-0 w-full;
	}

	.modal-right {
		@apply border-l-0 pl-0;
	}
}
