.on-the-trail,
.valuables {
	@apply bg-green-300 text-green-700;
}

.clothing {
	@apply bg-red-300 text-red-700;
}

.cook {
	@apply bg-yellow-300 text-yellow-700;
}

.sleep,
.personal-care {
	@apply bg-blue-300 text-blue-700;
}

@keyframes loading {
	from {
		opacity: 0.2;
	}
	50% {
		opacity: 0.3;
	}
	to {
		opacity: 0.2;
	}
}

.filter-on-the-trail:hover,
.filter-on-the-trail.active,
.filter-valuables:hover,
.filter-valuables.active {
	@apply bg-green-300 text-green-700 shadow-green-700;
	box-shadow: 0 0 0 2px;
}

.filter-clothing:hover,
.filter-clothing.active {
	@apply bg-red-300 text-red-700 shadow-red-700;
	box-shadow: 0 0 0 2px;
}

.filter-cook:hover,
.filter-cook.active {
	@apply bg-yellow-300 text-yellow-700 shadow-yellow-700;
	box-shadow: 0 0 0 2px;
}

.filter-sleep:hover,
.filter-sleep.active,
.filter-personal-care:hover,
.filter-personal-care.active {
	@apply bg-blue-300 text-blue-700 shadow-blue-700;
	box-shadow: 0 0 0 2px;
}

.filter-show-all:hover,
.filter-show-all.active {
	@apply bg-neutral-300 text-neutral-700 shadow-neutral-700;
	box-shadow: 0 0 0 2px;
}

.overlay {
	@apply z-2 fixed left-0 top-0 flex h-full w-full items-center justify-between;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.5);
}

.next-button:hover,
.previous-button:hover {
	background-color: #403f3c;
	transform: scale(1.05);
}

.modal {
	@apply relative m-auto flex h-[500px] w-[880px] rounded-md bg-neutral-100 px-12 py-8 shadow-neutral-700 outline-0;
	box-shadow: 4px 4px 56px;
}

.modal-left {
	@apply mr-8 w-[300px];
}

.modal-right {
	@apply leading-1.5 grow overflow-auto border border-neutral-300 pl-8;
}

.modal-right p {
	@apply mb-4;
}

.modal-right a {
	@apply underline;
}

@media screen and (max-width: 720px) {
	.modal {
		@apply block h-screen w-screen overflow-auto;
		border-radius: 32px 32px 0 0;
		padding: var(--spacing-xl) var(--spacing-xl) 56px var(--spacing-xl);
		transform: translateY(40px);
	}

	.modal-left {
		@apply mr-0 w-full;
	}

	.modal-right {
		@apply border-l-0 pl-0;
	}
}
