.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 232px;
  grid-gap: 16px;
  margin-top: 4px;
}

.control-panel {
  position: sticky;
  top: 0;
  background: var(--color-neutral-100);
  z-index: 1;
}

.control-panel .container {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-xl);
}

@media screen and (max-width: 880px) {
  .control-panel .container {
    justify-content: center;
  }
}
