.stats {
  display: flex;
  font-size: var(--font-size-4);
  font-weight: bold;
  align-items: center;
}

.stats div:first-child {
  margin-right: var(--spacing-lg);
}

.stats div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats span {
  margin-right: var(--spacing-sm);
}
